
.hex-button{
	margin:30px;
		display: inline-block;
	z-index:10;
	position:relative;
		opacity:1;
	width:250px;
	height:250px;

}
.hex-button a{
	background-image : url("../images/germanshepherd.jpg");
	
	background-size:150px;
	background-position:50%;
	display:block;
	height:150px;
}
.hex1{
	background-image : inherit;
	transform:rotate(45deg);
	height:100%;
	width:100%;
	z-index:-1;
	top:0;
	left:0;
	position:absolute;
	overflow:hidden;
}
.hex2{
	background-image : inherit;
	transform:rotate(-45deg);
	height:100%;
	width:100%;
	z-index:-2;
	position:absolute;
	left:0;
	overflow:hidden;
	top:0;
	/* -webkit-transform-origin : 0 0; */
}
.hex2:before{
-webkit-transform: rotate(45deg) translate(75px, 0);
	content: '';
position: absolute;
background: inherit;
left: 0;
width:200px;
height:200px;
}
.hex1:before{
	-webkit-transform: rotate(-45deg) translate(-75px, 0);
	content: '';
position: absolute;
background: inherit;
left: 0;
width:200px;
height:200px
}